a {
  font-size: 12px;
}

#comment {
  margin-left: 0;
}

.share {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 12px;
  margin-top: 5px;
}

.postTitle {
  color: #c05b4d;
  font-size: 20px;
  margin-bottom: 4px;
}

.score {
  display: flex;
  flex-basis: 20%;
  flex-wrap: nowrap;
}

.hightlightTitle, .highlightComment, .highlightBody, .hightlightAuthor, .hightlightComment {
  color: green;
}

.hightlightTitle {
  font-size: 20px;
}

.highlightBody {
  text-decoration: none;
}

.highlightComment {
  margin-left: 0;
  text-decoration: none;
}


.reset {
  color: black;
}

.comment {
  color: #c05b4d;
  text-decoration: none;
  margin-left: 0;
}

.thumbnail {
  display: flex;
  width: 64px;
  height: 64px;
  flex-basis: 25%;
}

.post-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-basis: 75%;
  margin-left: 10px;
}

.post-item{
  display: flex;
}
