.info {
  display: flex;
  flex-direction: column;
}

.sidebarInfo {
  margin-bottom: 5px;
  margin-top: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.about-text {
  color: #b3b3b3;
  margin-top: 3px;
  font-size: 15px;
}

.sidebar {
  padding-left: 15px;
}
